<div class="col-md-12 mt-3">

    <h1>{{page_title}}</h1>

    <h2>{{identity.name}} puedes crear nuevos usuarios</h2>

    <hr />

    <div class="alert alert-success col-md-6 my-3" *ngIf="status == 'success'">
        Los cambios fueron guardados correctamente
    </div>

    <div class="alert alert-danger col-md-6 my-3" *ngIf="status == 'error'">
        Los cambios no fueron guardados correctamente
    </div>

    <form class="col-md-5 ml-0 pl-0 user-edit-form" #userNewForm="ngForm" (ngSubmit)="onSubmit(userNewForm)">

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Nombre" type="text" class="form-control" name="name" id="name" #name="ngModel" [(ngModel)]="user.name"
                   required pattern="[a-zA-Z]+"/>
        </mat-form-field>
        <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
            El nombre no es valido
        </small>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Apellido" class="form-control" type="text" name="surname" id="surname" #surname="ngModel" [(ngModel)]="user.surname"
                   required pattern="[a-z A-Z]+"/>
        </mat-form-field>
        <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
            El Apellido no es valido
        </small>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Rut" class="form-control" type="text" name="tax_id" id="tax_id" #tax_id="ngModel" [(ngModel)]="user.tax_id"
                   required/>

        </mat-form-field>
        <small *ngIf="!tax_id.valid && tax_id.touched" class="invalid-feedback d-block">
            El rut no es válido
        </small>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" class="form-control" type="email" name="email" id="email" #email="ngModel" [(ngModel)]="user.email"
                   required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>

        </mat-form-field>
        <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
            El email no es valido
        </small>

        <mat-form-field class="example-full-width">
            <mat-label>Seleccione el Rol de Usuario</mat-label>
            <mat-select name="roleId" id="roleId">
                <mat-option value="1">Administrador</mat-option>
                <mat-option value="2">Copropietario</mat-option>
                <mat-option value="3">Equipo</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="form-group">

            <label>Avatar</label>

            <angular-file-uploader
                [config]="afuConfig"
                (ApiResponse)="avatarUpload($event)"
            ></angular-file-uploader>

        </div>

        <button mat-raised-button type="submit" color="primary">Guardar cambios</button>
    </form>


</div>