<div class="col-md-12 mt-3" *ngIf="!identity">
    <h1>{{page_title}}</h1>
    <p>
        Identifícate en la plataforma:
    </p>

    <ngb-alert type="danger" [dismissible]="false" *ngIf="status == 'error'">
        Clave o email erroneo, no has podido entrar al sistema
    </ngb-alert>

    <form class="col-5 ml-0 pl-0 login-form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" class="form-control" type="email" name="email" id="email" #email="ngModel" [(ngModel)]="user.email"
                   required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>

        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" class="form-control" type="password" name="password" id="password" #password="ngModel"
                   [(ngModel)]="user.password"/>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Identifícate</button>
    </form>
</div>

